<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap rescap desktop uap18">

  <Identity
    Name="mgtek.com.WinPX"
    Publisher="CN=14EB2942-3EE1-44D2-92E0-0754A0223CC9"
    Version="1.0.36.0" />

  <Properties>
    <DisplayName>WinPX</DisplayName>
    <PublisherDisplayName>mgtek.com</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.26300.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application
      Id="WinPX"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$"
      uap18:TrustLevel="mediumIL"
      uap18:RuntimeBehavior="win32App">
      <uap:VisualElements
        DisplayName="WinPX Proxy Server"
        Description="WinPX is a forwarding HTTP proxy server for Windows designed to help legacy applications connect to enterprise proxy servers."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask">
          <desktop:StartupTask
            TaskId="WinPX"
            Enabled="true"
            DisplayName="WinPX Proxy Server" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
